extension/icons/guess.png
extension/icons/guess_manual.png
extension/icons/guess_manual_next.png
extension/icons/guess_manual_next_prev.png
extension/icons/guess_manual_prev.png
extension/icons/guess_next.png
extension/icons/guess_next_prev.png
extension/icons/guess_prev.png
extension/icons/manual.png
extension/icons/manual_next.png
extension/icons/manual_next_prev.png
extension/icons/manual_prev.png
extension/icons/next.png
extension/icons/next_prev.png
extension/icons/prev.png
*.swp
